@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#root {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  
}
html {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-position: 9.80rem 0rem;
  background-repeat: no-repeat;
  
}
/* .main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

} */
/* NAV STYLING */
li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  padding: 30px 10%;
}
header path {
  color: black;

}
.homebutton {
  margin-right: auto;
}
.navlinks {
  list-style: none;
}
.navlinks li {
  display: inline-block;
  padding: 0 20px;
  color: black;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks a:hover {
  color: grey;
}

button {
  padding: 5px 15px;
  /* background-color: #E63946;
  border-color: black; */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


/* END NAV STYLING */
/* HOME STYLING */
.home {
  display: flex;
  /* flex-grow: 1; */
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* min-height: 100vh; */
  font-size: 3rem;
  margin-bottom: 500px;
  /* background-image: url(./img/background.jpeg);
  background-size: cover; */
  /* background-repeat: no-repeat;
  background-position: center right; */
  
}
/* .App {
height: 0vh;
  background-color: #014F86;
  
} */
.title {
  display: flex;
  width: 40%;
  flex-direction: row;
}

.name {
  width: 400px;
  margin: auto;
  align-items: center;
}
.job {
  width: 250px;
  font-size: 2rem;
  align-items: center;
  margin: auto;
}
/* END HOMESTYLING */
/* PORTFOLIO PAGE STYLING */
.Portfolio {
  display: flex;
  flex-grow: 1;
  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: #bee3db; */
  /* width: 100%; */
}
.projectlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
}
.links a {
  transition: all 0.3s ease 0s;

}
.links a:hover {
  color: grey;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  /* color: white;
  border-radius: 0px;
  background: #264653;
  box-shadow:  5px 5px 9px #1b323b,
               -5px -5px 9px #315a6b; */
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid black;
  
}
.card a {
  /* padding-right: 1rem;
  text-align: center;
  justify-content: center;
  padding-left: 1rem; */
  font-size: 1.5em;
  width: 80%;
  color: black;
}
.github {
  font-size: 3rem;
}
.github {
  transition: all 0.3s ease 0s;
}
.github:hover {
  color: grey;
}
.card p {
  padding: .5rem 0rem;
  width: 50%;
}
.card img {
  width: 20%;
  display: inline-block;
  border-radius: 5px;
}
hr {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* RESUME PAGE CSS */
.resumeimage {
  display: flex;
  /* flex-grow: 1; */
  overflow: auto;
  /* height: 90%; */
  justify-content: center;
  align-items: center;
}
.resumeimage img {
  justify-content: center;
  
  /* min-height: 0;
  flex-grow: 1; */
  overflow: scroll;
  align-items: center;
  width: 50%;
}