@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#root {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  
}
html {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-position: 9.80rem 0rem;
  background-repeat: no-repeat;
  color: #826754;
  
}
/* .main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

} */
/* NAV STYLING */
li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  padding: 30px 10%;
}
header ul {
  /* font-size: 4rem; */
}
header path {
  color: #826754;
  font-size: 1.5rem;

}
.homebutton {
  margin-right: auto;
}
.navlinks {
  list-style: none;
}
.navlinks li {
  display: inline-block;
  padding: 0 20px;
  color: #826754;
  font-size: 1.25rem;
}

.navlinks li {
  transition: all 0.3s ease 0s;
}

.navlinks li:hover {
  color: #F29068;
}

button {
 background-color: white;
 padding: 15px 20px;
 font-size: 1.25rem;
 border-radius: 10px;
  border-color: #F29068;
  color: #F29068;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


/* END NAV STYLING */
/* HOME STYLING */
.home {
  display: flex;
  margin-left: 3rem;
  /* flex-grow: 1; */
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* min-height: 100vh; */
  font-size: 3rem;
  margin-bottom: 500px;

  
}
/* .App {
height: 0vh;
  background-color: #014F86;

} */
.home path {
  color: #F29068;
  animation: bounce 2s ease infinite;
  
}
@keyframes bounce {
  0%, 25%, 55%, 75%, 100%{
    transform: translateX(0);
  }
  45%{
    transform: translateX(100px);
  }
  65% {
    transform: translateX(30px);
  }
  85% {
    transform: translateX(10px);
  }
}
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.name {
  width: 100%;
  
  
}
.job {
  width: 50%;
  font-size: 2rem;
  
  
}
/* about page */
.paragraph {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-left: 5%;

}
.paragraph span {
  font-weight: bolder;
  font-size: 1.25rem;
  color: #F29068;

}
/* END HOMESTYLING */
/* PORTFOLIO PAGE STYLING */
.Portfolio {
  display: flex;
  flex-grow: 1;
  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: #bee3db; */
  /* width: 100%; */
}
.projectlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
}
.links a {
  transition: all 0.3s ease 0s;

}
.links a:hover {
  color: #F29068;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 70%;
  /* color: white;
  border-radius: 0px;
  background: #264653;
  box-shadow:  5px 5px 9px #1b323b,
               -5px -5px 9px #315a6b; */
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #826754;
  border-radius: 10px;
  
}
.card a {
  /* padding-right: 1rem;
  text-align: center;
  justify-content: center;
  padding-left: 1rem; */
  font-size: 1.5em;
  width: 80%;
  color: #F29068;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.github {
  font-size: 3rem;
}
.github {
  transition: all 0.3s ease 0s;
}
.github:hover {
  color: #F29068;
}
.card p {
  padding: .5rem 0rem;
  
}
.card img {
  width: 40%;
  display: inline-block;
  border-radius: 5px;
}
hr {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* RESUME PAGE CSS */
.resumeimage {
  display: flex;
  /* flex-grow: 1; */
  overflow: auto;
  /* height: 90%; */
  justify-content: center;
  align-items: center;
}
.resumeimage img {
  justify-content: center;
  
  /* min-height: 0;
  flex-grow: 1; */
  overflow: scroll;
  align-items: center;
  width: 50%;
}