@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Zen+Old+Mincho:wght@700&display=swap');
#root {
  /* display: flex; */
  width: 100vw;
  min-height: 100vh;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
}
/* NAV STYLING */
li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.homebutton {
  margin-right: auto;
}
.navlinks {
  list-style: none;
}
.navlinks li {
  display: inline-block;
  padding: 0 20px;
}
.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: orange;
}

button {
  padding: 9px 25px;
  background-color: aquamarine;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}






/* END NAV STYLING */
.home {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 3rem;
  margin-bottom: 500px;
  
}
.App {
height: 0vh;
  background-color: #014F86;
  
}
.title {
  display: flex;
  flex-direction: row;
}

.name {
  width: 400px;
  margin: auto;
  align-items: center;
}
.job {
  width: 250px;
  font-size: 2rem;
  align-items: center;
  margin: auto;
}
